extends layout

block script

  script(src="/js/callback.js")

block content

  .modal
    .modal-header
      h3 Redirecting to finalize force login
    .modal-body(id='error', style='display:none')
      p
        | If you are not redirected try clicking
        a(id='redirect', href="#") here
        | .