extends layout

block script

  script(src="/js/callback.js")

block content

  .modal
    .modal-header
      h3 Force CLI
    .modal-body
      p
        a#redirect Click Here to finish authorization
